<apex:page standardController="Account"> <!-- extensions="BillUpdateExtension" sidebar="false" tabStyle="account" showHeader="true">
    <style>
    .labelFont{
    color:#4A4A56;
    font-size:91%;
    font-weight:bold;
    text-align:middle;
    width:100px;
    }
    .middilebutton{
    border-left-width: 15px; padding-left: 403px;
    }
    .bPageBlock .MyRequiredInput {
        height: 100%;
        position: relative;
    }
    .bPageBlock .MyRequiredInput .MyRequiredBlock {
        display: inline;
        background-color:#CC0000;
        bottom: -5px;
        left:-4px;
        position:absolute;
        top:-1px;
        width:3px;
    }
    </style>
    <head>
        <script type="text/javascript" src="/resource/jQuery_1_11_0_js"/>-->
        <!--<apex:stylesheet value="{!$Resource.jQuery_Telstra_ui_css}"/>
   </head>-->
   <!-- <script>
    
    var toChangeChildValOfCostCentre=function(data){
            var vc=$('[id$=costCentreInputId]').val();
            $('[id$=costCentreOutputId]').html(vc);
            }; 
        
    var toChangeChildValOfCustomerPO=function(data){
            var vc=$('[id$=customerPOInputId]').val();
            $('[id$=customerPOOutputId]').html(vc);
            }; 
        
            //$.getJSON('/apex/updateDatatoChild',{parentData:data.value}, function(result){
            //alert(result);
            //var fld=document.getElementById('{!$Component.tes.testt.dynamicTable.test}');
            //fld.innerHTML=result;
            //alert($('[id$=dynamicTable]').val());
    
    </script>
    <apex:sectionHeader title="Bill Text Update" subtitle="{!account.name}" help="https://help.salesforce.com"/>
    <apex:form >
        <apex:pageBlock title="Bill Text Update Edit" mode="edit">
            <apex:pageMessages id="vadErr" />
            <apex:pageBlockButtons >
                <apex:commandButton value="Save" action="{!insertIntoBillingUpdate}"/>
                <apex:commandButton value="Cancel" action="{!cancel}"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection collapsible="false" title="Bill Text Update" >
                <apex:pageBlockSectionItem >
                    <apex:actionRegion >
                        <apex:outputPanel styleClass="requiredInput" layout="block">
                            <apex:outputPanel styleClass="requiredBlock" layout="block" />
                            <apex:selectList Id="serviceID" styleClass="" label="Service"  value="{!ServiceID}" size="1" title="Service ID">
                                <apex:selectOptions value="{!accountServcsOptionsList}" />
                                <apex:actionSupport event="onchange" action="{!getServiceDetails}" rerender="serviceDetailsSection"/>
                            </apex:selectList>
                        </apex:outputPanel>
                    </apex:actionRegion>               
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection >
                <apex:pageBlockSectionItem >  
                    <apex:outputPanel id="serviceDetailsSection" >
                        <apex:pageBlockTable id="dynamicTable" value="{!billingUpdateList}" var="dataRow" >-->
                            <!-- <apex:column headerValue="Line Item Status" title="" >
                                <apex:outputText value="{!dataRow.LineItemStatus}" rendered="{!dataRow.LineItemStatus!=null}"/>
                            </apex:column> -->
                          <!--  <apex:column headerValue="Service/Resource" title="" >
                                <apex:outputText value="{!dataRow.serviceResource}" rendered="{!dataRow.serviceResource!=null}"/>
                            </apex:column>
                            <apex:column headerValue="Name" title="" >
                                <apex:outputText value="{!dataRow.ProductName}" rendered="{!dataRow.ProductName!=null}"/>
                            </apex:column>
                            <apex:column headerValue="Service Status" title="">
                                <apex:outputText value="{!dataRow.ServiceStatus}" rendered="{!dataRow.ServiceStatus!=null}"/>
                            </apex:column>
                            <apex:column headerValue="Cost centre" rendered="{!IF(dataRow.parentOfthebundleflag,true,false)}">
                                <apex:selectList Id="costCentreInputId" value="{!dataRow.CostCentreIntegrationNumber}" size="1"  onchange="toChangeChildValOfCostCentre(this)" >
                                    <apex:selectOptions value="{!dataRow.costcentreList}" />
                                </apex:selectList>
                            </apex:column>  
                           <apex:column headerValue="Cost centre" rendered="{!IF(NOT(dataRow.parentOfthebundleflag) && dataRow.bundleFlag ,true,false)}">
                                <apex:outputText id="costCentreOutputId" value="{!dataRow.CostCentreIntegrationNumber}"/> 
                            </apex:column>
                            <apex:column headerValue="Customer PO" rendered="{!IF(dataRow.parentOfthebundleflag,true,false)}">
                                <apex:inputText id="customerPOInputId" value="{!dataRow.CustomerPONumber}" onchange="toChangeChildValOfCustomerPO(this)" />
                            </apex:column>
                            <apex:column headerValue="Customer PO" rendered="{!IF(NOT(dataRow.parentOfthebundleflag) && dataRow.bundleFlag ,true,false)}">
                                <apex:outputText id="customerPOOutputId" value="{!dataRow.CustomerPONumber}"/>
                            </apex:column> -->
                            <!-- non bundle -->
                        <!--    <apex:column headerValue="Cost centre" rendered="{!IF(dataRow.bundleFlag,false,true)}">
                                <apex:selectList Id="costCentreNonBundleId" value="{!dataRow.CostCentreIntegrationNumber}" size="1" > 
                                    <apex:selectOptions value="{!dataRow.costcentreList}" />
                                </apex:selectList>  
                            </apex:column>
                            <apex:column headerValue="Customer PO" rendered="{!IF(dataRow.bundleFlag,false,true)}">
                              <apex:inputText id="customerPONonBundleId" value="{!dataRow.CustomerPONumber}"/>
                            </apex:column>
                            <apex:column id="rcBillText" headerValue="RC Bill text" style="">
                                <apex:outputPanel styleClass="requiredInput" layout="block">
                                    <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                    <apex:inputText id="rcBillTextInput" value="{!dataRow.MRCBillText}" maxlength="255" />
                                </apex:outputPanel>
                            </apex:column>
                            <apex:column id="nrcBillText" headerValue="NRC Bill Text">
                                <apex:outputPanel styleClass="requiredInput" layout="block">
                                    <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                    <apex:inputText id="nrcBillTextInput" value="{!dataRow.NRCBillText}" maxlength="255" />
                                </apex:outputPanel>
                            </apex:column>
                            <apex:column id="serviceBillText" headerValue="Service Bill Text">
                                <apex:outputPanel styleClass="requiredInput" layout="block">
                                    <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                    <apex:inputText id="serviceBillTextInput" value="{!dataRow.serviceBillText}" maxlength="255" />
                                </apex:outputPanel>
                            </apex:column>
                            <apex:column id="rootBillText" headerValue="Root product Bill Text">
                                <apex:outputPanel styleClass="requiredInput" layout="block">
                                    <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                    <apex:inputText id="rootBillTextInput" value="{!dataRow.rootProductBillText}" maxlength="255" />
                                </apex:outputPanel>
                            </apex:column>          
                            <apex:column id="rcCreditBillText" headerValue="RC Credit text">
                                <apex:outputPanel styleClass="requiredInput" layout="block">
                                    <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                    <apex:inputText id="rcCreditBillTextInput" value="{!dataRow.RCCreditText}" maxlength="255" />
                                </apex:outputPanel>
                            </apex:column>
                            <apex:column id="nrcCreditBillText" headerValue="NRC Credit Text">
                                <apex:outputPanel styleClass="requiredInput" layout="block">
                                    <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                    <apex:inputText id="nrcCreditBillTextInput" value="{!dataRow.NRCCreditText}" maxlength="255" />
                                </apex:outputPanel>
                            </apex:column>
                            <apex:column headerValue="ETC Bill Text">
                                <apex:outputPanel styleClass="requiredInput" layout="block">
                                    <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                    <apex:inputText value="{!dataRow.ETCBillText}" maxlength="255" />
                                </apex:outputPanel>
                            </apex:column> -->
                            <!-- <apex:column headerValue="ROC Line Item Status">
                                <apex:outputText value="{!dataRow.ROCLineItemStatus}" />
                              </apex:outputPanel>
                            </apex:column>
                            <apex:column headerValue="ROC Line Item Error">
                                <apex:outputText value="{!dataRow.ROCLineItemError}" />
                              </apex:outputPanel>
                            </apex:column>
                            <apex:column headerValue="ROC Line Item Error Code">
                                <apex:outputText value="{!dataRow.ROCLineItemErrorCode}" />
                            </apex:column> -->
                      <!--  </apex:pageBlockTable>
                        <script></script>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form> -->
</apex:page>