<apex:page standardController="csord__Subscription__c" extensions="BillingBundleCls" id="ap">
 <!-- <apex:stylesheet value="{!URLFOR($Resource.Bootstrap, 'bootstrap/css/bootstrap.css')}"/> -->
 <apex:form id="frm">
     <script src="http://code.jquery.com/jquery-2.2.2.min.js" language="javascript"></script>
     <script language="javascript">
         
        function getCheckBoxValue(obj)
        {
            var chkPrntFlg = document.getElementsByClassName("prntBndlFlag");
            for(var i=0; i<chkPrntFlg.length; i++){
                chkPrntFlg[i].checked = false;            
            }
            obj.checked = true;
            updateSubSer();
        }
    </script>
    <apex:actionFunction action="{!updateSubSer}" name="updateSubSer"/>     
     <apex:pageBlock title="Billing Bundle" id="pb">
         <apex:pageBlockButtons location="bottom">
             <apex:commandButton value="Update" action="{!updateItems}"/>
             <apex:commandButton value="Cancel" action="{!cancel}"/>
         </apex:pageBlockButtons>
         
         <apex:pageBlockTable value="{!ChildServices}" var="cs" id="pbt">
             <apex:column headerValue="Primary Service ID">
                 <apex:outputField value="{!cs.Primary_Service_ID__c}"/>
             </apex:column>    
             <apex:column headerValue="Service Name">
                 <apex:outputField value="{!cs.name}"/>
             </apex:column>    
             <apex:column headerValue="Subscription Number">
                 <apex:outputField value="{!cs.csord__Subscription__r.csordtelcoa__Subscription_Number__c}"/>                 
             </apex:column>
             <apex:column headerValue="Bundle Flag" id="bf">
                 <apex:inputCheckbox value="{!cs.Bundle_Flag__c}"  styleClass="bunflagc">
                     <apex:actionSupport action="{!updateSubSer}" event="onchange"/>
                 </apex:inputCheckbox>
             </apex:column>
             <apex:column headerValue="Parent Bundle Flag" id="pbf">
                 <apex:inputCheckbox id="pbfs" value="{!cs.Parent_Bundle_Flag__c}" styleClass="prntBndlFlag" onchange="getCheckBoxValue(this);">

                                      </apex:inputCheckbox>
             </apex:column>
             <apex:column headerValue="Bundle Label name" id="bln">
                 
               <!--  <apex:inputText value="{!cs.Bundle_Label_name__c}"/> -->
                 <apex:outputText value="{!cs.Bundle_Label_name__c}"></apex:outputText>
                 
             </apex:column>
             <apex:column headerValue="Bundle Action" id="ba">
                 <apex:outputField value="{!cs.Bundle_Action__c}"/>
             </apex:column>
         </apex:pageBlockTable>         
     </apex:pageBlock>
     <apex:outputPanel rendered="{!pageRefresh}">
   <script>
      window.top.location='/{!csord__Subscription__c.id}';
   </script>
</apex:outputPanel>
 </apex:form>
</apex:page>