<apex:page standardController="Opportunity" extensions="OpportunityEditOverride" showHeader="true"   >
<head>
<apex:includeScript value="{!URLFOR($Resource.jQuery, '/jquery-1.8.2.min.js')}"/>
</head>
    <script>
    Visualforce.remoting.timeout = 120000;
        if( (typeof sforce != 'undefined') && (sforce != null) && '{!deviceType}'!='default')
         {
             Visualforce.remoting.Manager.invokeAction(
             '{!$RemoteAction.OpportunityEditOverride.getRedirectionForMobile}','{!Opportunity.Id}',redirectToMobile,{escape: true});            
          }else
           {
                // Set the window's URL using a Visualforce expression               
                Visualforce.remoting.Manager.invokeAction(
             '{!$RemoteAction.OpportunityEditOverride.getRedirectionForMobile}','{!Opportunity.Id}',redirectToNormal,{escape: true});            
            }
           function redirectToMobile(result,event){
                       if (event.status)
                        {
                            //console.log(result);
                            if(result=='Won')
                            {
                                   sforce.one.editRecord('{!Opportunity.Id}');                                
                            }else{
                               // Toogle the Portion to be displayed 
                                $('#togglePoint').toggle();
                            }
                        } else if (event.type ==='exception')
                         {
                            //exception case code
                        } else {
                        }
           } 
           function redirectToNormal(result,event){
                       if (event.status)
                        {
                            //console.log(result);    

                            try{
                                var tmpUrl = new URL('{!$CurrentPage.parameters.retURL}');
                            } catch(e){
                             if(e instanceof TypeError){
                                 console.log(e.name + ': ' + e.message);
                             }
                            }
                            
                               if(tmpUrl !== undefined){
                                    tmpUrl.searchParams.delete('srKp');
                                    tmpUrl.searchParams.delete('srPos');
                               }
                            if(result=='Won')
                            {         
                                if(tmpUrl !== undefined){
                                    window.location.href = '/{!Opportunity.Id}/e?nooverride=1&retURL=' + tmpUrl;
                                } else{
                                    window.location.href = '/{!Opportunity.Id}/e?nooverride=1&retURL={!$CurrentPage.parameters.retURL}';
                                }                                                                                       
                            }else{
                               // Toogle the Portion to be displayed 
                               $('#togglePoint').toggle();
                            }
                        } else if (event.type ==='exception')
                         {
                            //exception case code
                        } else {
                        }
           }  
    </script>
    <body>
     <div style="display:none" id="togglePoint">       
        <strong style="color: #C00;">Closed Won Opportunities cannot be Edited.</strong>
      </div>
    </body>
</apex:page>