<apex:page standardController="Contact">
<apex:iframe width="100%" height="350" scrolling="false" src="https://webservices.loopfuse.net/webservice/sfdcinfo/getcontact?sfdc_sid={!URLENCODE($Api.Session_ID)}&endpoint={!URLENCODE($Api.Partner_Server_URL_70)}&contact_em={!Contact.Email}&contact_id={!Contact.id}"/>
</apex:page>