<apex:page StandardController="csord__Service__c" extensions="MasterServiceToOrdersListCtrl" id="fullPage" showHeader="false" sidebar="false">
    <!--  This is a test comment -->
    <apex:form id="pageForm">
        <apex:pageMessages />
        <apex:pageBlock id="pageBlockOptions">
                <apex:pageBlockTable id="serviceList" value="{!serWrapLst}" var="s">
                    <apex:column headerValue="Order Name">
                        <apex:outputLink value="/{!s.Id}" id="serviceLink" target="_blank">{!s.Name}</apex:outputLink>
                    </apex:column>
                    <apex:column headerValue="Order Number">
                        <apex:outputText value="{!s.OrderNumber}"/>
                    </apex:column>
                    <apex:column headerValue="Product">
                        <apex:outputText value="{!s.Product}"/>
                    </apex:column>
                    <apex:column headerValue="Order Type">
                        <apex:outputText value="{!s.OrderType}"/>
                    </apex:column>
					<apex:column headerValue="Service Name">
                        <apex:outputLink value="/{!s.ServiceId}" id="serviceLink1" target="_blank">{!s.ServiceName}</apex:outputLink>
					</apex:column> 
                    <apex:column headerValue="Customer Required Date">
                        <apex:outputText value="{!s.CRD}"/>
                    </apex:column>
                    <apex:column headerValue="Progress">
                        <apex:outputText value="{!s.Progress}"/>
                    </apex:column>
                </apex:pageBlockTable>
        </apex:pageBlock>
    </apex:form>
</apex:page>