<apex:page showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0" 
  standardController="Opportunity" extensions="OpportunityMoveToStageExt">


<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">

<apex:includeScript value="{!$Resource.jquerymin}"/>
<apex:stylesheet value="{!URLFOR($Resource.SLDS203, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />

<script>
    $(document).ready(function() {
        convertCheckBoxToLDS();
    });
     
    //Convert standard checkboxes to Lightning Design System
    function convertCheckBoxToLDS() {
        var Row = document.getElementsByClassName("convertToLSD");
        for (var k = 0; k < Row.length; k++) {
            var colTds = Row[k].getElementsByTagName("td");
            for (var i = 0; i < colTds.length; i++) {
                var inrHtml = colTds[i].innerHTML;
                var chkId = inrHtml.substring(inrHtml.indexOf("id=") + 4, inrHtml.indexOf("\"", inrHtml.indexOf("id=") + 4));
                var chkBx = inrHtml.substring(inrHtml.indexOf("<input"), inrHtml.indexOf(">") + 1);
                var chkLable = colTds[i].getElementsByTagName("label")[0].textContent;
                var typeOfInput = colTds[i].getElementsByTagName("input")[0].getAttribute("type");
                var newChkBox = '<label class="slds-' + typeOfInput + '" for="' + chkId + '">' + chkBx +
                    '<span class="slds-' + typeOfInput + '--faux"></span>' +
                    '<span class="slds-form-element__label">' + chkLable + '</span>' +
                    '</label>';
                colTds[i].innerHTML = newChkBox;
            }
        }
    }
</script>
<body>

    <div class="ges-i">

    <apex:variable var="Show_IdentifyDefine"
        value="{!AND(Opportunity.StageName = 'Identify & Define', Opportunity.Sales_Status__c = 'Open')}" />
    <apex:variable var="Show_Qualify"
        value="{!AND(Opportunity.StageName = 'Qualify', Opportunity.Sales_Status__c = 'Open')}" />
    <apex:variable var="Show_Develop"
        value="{!AND(Opportunity.StageName = 'Develop', Opportunity.Sales_Status__c = 'Open')}" />
    <apex:variable var="Show_Propose"
        value="{!AND(Opportunity.StageName = 'Propose', Opportunity.Sales_Status__c = 'Open')}" />

    <!-- HEADING AREA -->
    <div class="slds-media slds-media--top slds-no-space slds-grow slds-p-bottom--medium">
        <div class="slds-media__figure">
            <span class="slds-icon_container slds-icon-standard-opportunity" title="Opportunity Icon">
                <svg aria-hidden="true" class="slds-icon">
                    <use xlink:href="{!URLFOR($Resource.SLDS203,
                    'assets/icons/standard-sprite/svg/symbols.svg#opportunity')}"></use>
                </svg>
                <span class="slds-assistive-text">Opportunity Icon</span>
            </span>
        </div>
        <div class="slds-media__body">
            <p class="slds-text-heading--label">Opportunity</p>
            <h1 class="slds-page-header__title slds-truncate" title="{!Opportunity.Name}">{!Opportunity.Name}</h1>
        </div>
    </div>
    <!-- / HEADING AREA -->
    
    <!-- *Hidden field, don't remove this -->
    <apex:outputField value="{!Opportunity.Type}" rendered="false" />
    <apex:outputField value="{!Opportunity.Stagename}" rendered="false" />
    <apex:outputField value="{!Opportunity.Probability}" rendered="false" />
    <apex:outputField value="{!Opportunity.Stage__c}" rendered="false" />
   
    <apex:outputField value="{!Opportunity.Sales_Status__c}" rendered="false" />
    <apex:outputField value="{!Opportunity.Win_Loss_Reasons__c}" rendered="false" />
    <apex:outputField value="{!Opportunity.UIFlag__c}" rendered="false" />




  <apex:outputPanel id="pnlErrorMessage" styleClass="slds-p-bottom--medium" rendered="{!NOT IsBlank(errorMsg)}">
        <p>Error:</p>
        <div class="slds-box slds-theme--error slds-text-longform">{!errorMsg}</div>
        <p></p>
    </apex:outputPanel>
     <apex:form >
        <apex:actionFunction action="{!saveStage}" name="saveForm" />
    
        <apex:outputPanel rendered="{!Show_Propose}">
        <fieldset class="slds-form-element is-required">
            <legend class="slds-form-element__legend slds-form-element__label">
                <abbr class="slds-required" title="required">*</abbr>{!$ObjectType.Opportunity.Fields.Win_Loss_Reasons__c.Label}</legend>
            <apex:selectCheckboxes value="{!WinReasonSelected}" styleClass="convertToLSD" layout="pageDirection">
                <apex:selectOptions value="{!WinReasonOptions}"/>
            </apex:selectCheckboxes><br/>
        </fieldset>
        
         </apex:outputPanel>

    </apex:form>
    <apex:outputPanel id="pnlDebug" rendered="false">
        <div class="slds-text-body--regular">Current Opportunity Stage: {!Opportunity.StageName}</div>
        <div class="slds-text-body--regular">Next Opportunity Stage: {!oppNextStage.MasterLabel}</div>
        <div class="slds-text-body--regular">Opportunity Type: {!Opportunity.Opportunity_Type__c}</div>
    </apex:outputPanel>
    </div>

<script src='/canvas/sdk/js/publisher.js'></script>
<script>
    if(sforce.one) {                      
        Sfdc.canvas.publisher.subscribe({name: "publisher.showPanel", onData:function(e) {
            Sfdc.canvas.publisher.publish({name: "publisher.setValidForSubmit", payload: "true"});                                      
        }});
        Sfdc.canvas.publisher.subscribe({name: "publisher.post", onData:function(e) {
            saveForm();
            // Sfdc.canvas.publisher.publish( { name: "publisher.close", payload:{refresh:"false"}});
        }});           
    }
</script>

</body>
</html>

</apex:page>