<apex:page standardController="csord__Order__c" extensions="OrderValidationOnSubmit" action="{!validateOrdertoSubmit}">
<style>
    .BPError {     
        font-weight: bold;
        color: #C00;
        text-align: Left;
        }
</style>

<apex:pageMessages id="showmsg"></apex:pageMessages>
 <!-- <apex:messages styleClass="BPError"/> -->
    <apex:form >
        <br/><br/>
        <apex:commandButton action="/{!orderId}" value="Return To Order" />
    </apex:form>  
</apex:page>