<apex:page StandardController="Order__c" extensions="OrderAttachmentExtension">
<apex:form >
 <apex:pageBlock >
<apex:pageBlockTable value="{!retOrderAttachments}" var="OrdAttach">          
                    <apex:column headerValue="Action">
                        <apex:commandLink value="Edit"  action="{!editRequest}" >
                            <apex:param name="recordIdToEdit" value="{!OrdAttach.Id}"/>
                        </apex:commandLink>
                        |
                        <apex:commandLink value="View"  action="{!viewRequest}" >
                            <apex:param name="recordIdToView" value="{!OrdAttach.Id}"/>
                        </apex:commandLink>
                        |
                         <apex:commandLink value="Delete" onclick="return confirm('Are you sure you want to delete this record?');" action="{!delRequest}" >
                             <apex:param name="recordIdToDelete" value="{!OrdAttach.Id}"/>                             
                        </apex:commandLink>
                    </apex:column>                                 
                     <apex:column headerValue="Title">
                        <apex:outputField value="{!OrdAttach.Name}"/>
                     </apex:column>                    
                     <apex:column headerValue="Last Modified">
                        <apex:outputField value="{!OrdAttach.LastModifiedDate}"/>
                     </apex:column>  
                     <apex:column headerValue="Created By">
                            <apex:outputField value="{!OrdAttach.CreatedBy.Name}"/>
                     </apex:column>
 </apex:pageBlockTable>
 <apex:outputPanel id="redirectPanel2" >
            <apex:outputText rendered="{!shouldRedirect2}" >
                <script type="text/javascript">
                    window.top.location.href = '{!redirectUrl2}';
                </script>
            </apex:outputText>            
</apex:outputPanel>
 <apex:outputPanel id="redirectPanel" >
            <apex:outputText rendered="{!shouldRedirect}" >
                <script type="text/javascript">
                    window.top.location.href = '{!redirectUrl}';
                </script>
            </apex:outputText>            
</apex:outputPanel>

  </apex:pageBlock>
  </apex:form>
</apex:page>