<apex:page standardController="Opportunity"> <!-- extensions="PRSubmissionController" action="{!validateOpportunity}">
<style>
    .BPError {     
        font-weight: bold;
        color: #C00;
        text-align: Left;
        }
</style>

 <apex:messages styleClass="BPError"/>
    <apex:form >
        <br/><br/>
        <apex:commandButton action="/{!oppId}" value="Return To Opportunity" />
    </apex:form>  -->
</apex:page>